shamefully-hoist=true
strict-peer-dependencies=false
shell-emulator=true
electron_mirror=https://registry.npmmirror.com/-/binary/electron/
chromedriver_cdnurl=https://registry.npmmirror.com/-/binary/chromedriver/

